@charset "utf-8";
@import "base.scss";
.about{
  width: 1200px;
  margin: 40px auto;
  @include clear;
  .aboutnav{
    width: 140px;
    background: #ffffff;
    float: left;
    padding: 30px 20px;
    box-sizing: border-box;
    li{
      width: 100%;
      height: 31px;
      margin-top: 15px;
      &.active{
        background-color: #00cc7b;
        border-radius: 5px;
        a{
          color: #fff;
        }
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 31px;
        color:#333;
        text-align: center;
        &:hover{
          color: #00cc7b;
        }
      }
    }
  }
  .inner{
    width: 980px;
    padding: 36px 30px;
    background: #fff;
    float: right;
    font-size: 16px;
    color: #333333;
    h6{
      font-size: 18px;
      margin-top: 50px;
      &:first-child{
        margin-top: 0;
      }
    }
    p{
      line-height: 30px;
      margin-top: 20px;
      text-indent:2em;
    }
    ul.dilist{
      position: relative;
      &:after{
        position: absolute;
        left: 10px;top:97px;bottom: 77px;
        margin: auto;
        content: "";
        width: 1px;
        height: 100%;
        background: #999999;
        z-index: 0;
      }
      &>li{
        width: 100%;
        padding-left: 30px;
        position: relative;
        margin-top: 20px;
        &:after{
          position: absolute;
          left: 0;top:5px;
          content: "";
          width: 18px;
          height: 18px;
          background: url(../images/about.png)no-repeat;
          background-size: 15px 16px;
          background-position: center center;
          z-index: 8;
        }
        p{
          text-indent:0;
          margin-top: 0;
        }
      }
    }
    ul.th{
      width: 100%;
      height: 51px;
      background-color: #f2f2f2;
      line-height: 51px;
      &>li{
        width: 18%;
        height: 100%;
        color: #333333;
        font-size: 16px;
        display: inline-block;
        text-align: center;
      }
    }
    ul.tr{
      height: 51px;
      line-height: 51px;
      border-bottom: 1px solid #f3f3f3;
      li{
        width: 18%;
        height: 100%;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        color: #333333;
      }
    }
    .trfont{
      display: none;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      font-size: 14px;
      color: #333333;
      margin-top: 3px;
      &.active{
        display: block;
      }
      h6{
        margin-top: 10px;
      }
    }
    .input{
      margin-top: 20px;
      span{
        font-size: 14px;
        color: #000000;
        line-height: 41px;
      }
      input{
        width: 301px;
        height: 41px;
        border: solid 1px #c2c2c2;
        outline: none;
        padding-left: 10px;
      }
      textarea{
        width: 877px;
        height: 201px;
        border: solid 1px #c2c2c2;
        outline: none;
        resize: none;
        padding-left: 10px;
        padding-top: 10px;
      }
    }
    input[type="submit"]{
      width: 131px;
      height: 41px;
      background-color: #ee6a3c;
      border-radius: 2px;
      text-align: center;
      line-height: 41px;
      color: #fff;
      margin-left: 70px;
      border: none;
      margin-top: 30px;
      cursor: pointer;
    }
    .titles{
      width: 100%;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      color: #000000;
      border-bottom: 1px solid #f4f4f4;
    }
    .gengduo{
        font-size: 12px;
        color: #999999;
      text-align: center;
      line-height: 50px;
    }
  }
}