@charset "utf-8";
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "微软雅黑";
}

@mixin imgs{
  vertical-align: middle;
}

@mixin clear{
  &:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
  }
}

@mixin tlbr{
  top: 0;right: 0;
  bottom: 0;left: 0;
  margin: auto;
}
//header
.header-box{
  width: 100%;
  height: 60px;
  background: #fff;
  .header{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    &>img{
      width: 140px;
      float: left;
      margin-top: 15px;
    }
    ul.nav-list{
      float: left;
      font-size: 16px;
      &>li{
        max-width: 124px;
        height: 60px;
        display: inline-block;
        position: relative;
        text-align: center;
        &:hover{
          background: #f8f8f8;
          .hovernav{
            display: block;
          }
        }
        .hovernav{
          display: none;
          width: 490px;
          background: #fff;
          position: absolute;
          top:60px;left: 0;
          margin: auto;
          z-index: 888;
          border-top:1px solid #e2e2e2;
          ul.nav1{
            float: left;
            li{
              width: 130px;
              height: 50px;
              background:#f8f8f8;
              border-top:1px solid #dfdfdf;
              font-size: 16px;
              line-height: 50px;
              &.active{
                background: #e2e2e2;
              }
            }
          }
          ul.nav2{
            width: 360px;
            float: left;
            font-size: 14px;
            &>li{
              width: 100%;
              display: none;
              &.active{
                display: block;
              }
              ul{
                width: 100%;
                padding-top: 15px;
                box-sizing: border-box;
                li{
                  width: 50%;
                  display: block;
                  float: left;
                  line-height: 40px;
                  text-align: center;
                  a{
                    font-size: 14px;
                    color: #333333;
                  }
                }
              }
            }
          }
        }
        &>a{
          color:#333;
          line-height: 60px;
          padding:0 20px;
          &.active{
            color: #00cc7b;
          }
        }
      }
    }
    .header-right{
      width: 450px;
      float: right;
      height: 100%;
      font-size: 14px;
      color: #333;
      line-height: 60px;
      position: relative;
      .border{
        width: 260px;
        margin-right: 10px;
        height: 36px;
        background-color: #f2f2f2;
        border-radius: 1px;
        border: solid 0px #cccccc;
        float: left;
        background-image: url("../images/1.png");
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 20px;
        line-height: 36px;
        color: #dedede;
        margin-top: 10px;
        input[type="text"]{
          width: 207px;
          height: 90%;
          float: left;
          background: #f2f2f2;
          border: none;
          padding-left: 20px;
          box-sizing: border-box;
          outline: none;
        }
        input[type="button"]{
          width: 50px;
          height: 90%;
          float: right;
          margin-top: 10px;
          opacity: 0;
          cursor: pointer;
        }
      }
      span{
        margin: 0 10px;
      }
      img{
        width: 30px;
        @include imgs;
        margin-left: 10px;
      }
      a{
        position: relative;
        color: #333;
        span{
          position: absolute;
          right: -4px;
          top:-15px;
          font-size: 10px;
          border-radius: 20px;
          padding: 2px 5px;
          margin: auto;
          z-index: 99;
          background: #e80000;color: #fff;
          text-align: center;
          line-height: 15px;
        }
      }
      .gerennav{
        width: 91px;
        height: 121px;
        position: absolute;
        right: 0px;top:60px;
        background: url(../images/4.png)no-repeat;
        background-size: cover;
        padding-top: 15px;
        box-sizing: border-box;
        display: none;
        z-index: 888;
        &.active{
          display: block;
        }
        li{
          line-height: 33px;
          a{
            color: #333;
          }
          text-align: center;
        }
      }
    }
  }
}
//footer
.footer{
  width: 100%;
  height: 251px;
  background-color: #363d41;
  .footer-inner{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 12px;
    color: #999999;
    line-height: 30px;
    a{
      color: #999999;
    }
    .footer-left{
      float: left;
    }
    .footer-right{
      float: right;
      img{
        width: 40px;
        margin-left: 10px;
      }
      span{
        position: relative;
        div{
          display: none;
          width: 130px;
          position: absolute;
          top:-165px;left: -40px;
          margin: auto;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .footer-bottom{
    border-top: 1px solid #33333e;
    font-size: 12px;
    color: #999999;
    clear: both;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    img{
      width: 15px;
    }
  }
}
//登陆
.shade{
  position: fixed;
  display: none;
  z-index: 999;
  @include tlbr;
  &.active{
    display: block;
  }
  .shadow{
    position: absolute;
    @include tlbr;
    background: rgba(0,0,0,0.5);
  }
  .loging{
    width: 370px;
    height: 495px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    @include tlbr;
    z-index: 8;
    padding-top: 50px;
    box-sizing: border-box;
    font-size: 14px;
    color: #999999;
    text-align: center;
    &>span{
      color: #00cc7b;
    }
    .close{
      position: absolute;
      top:10px;right: 10px;
      width: 21px;height: 21px;
      background: url(../images/29.png)no-repeat;
      background-size: cover;
    }
    .form{
      width: 100%;
      text-align: left;
      padding: 25px;
      box-sizing: border-box;
      .input{
        width: 100%;
        height: 41px;
        background-color: #ffffff;
        border-radius: 2px;
        border: solid 1px #eeeeee;
        margin-top: 20px;
        padding-left: 10px;
        box-sizing: border-box;
        position: relative;
        .tishi{
          position: absolute;
          top:41px;
          left: 0;
          width: 100%;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          color: #f65d22;

        }
        img{
          float: left;
          margin-top: 11px;
          &.yzm{
            float: right;
            margin-top: 0;
          }
        }
        input{
          width: 86%;
          height: 95%;
          border: none;
          float: left;
          margin-left: 10px;
          outline: none;
        }
      }
      .inputs{
        width: 100%;
        height: 41px;
        margin-top: 20px;
        position: relative;
        .tishi{
          position: absolute;
          top:41px;
          left: 0;
          width: 100%;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          color: #f65d22;

        }
        &>div{
          width: 191px;
          height: 41px;
          background-color: #ffffff;
          border-radius: 2px;
          border: solid 1px #eeeeee;
          float: left;
          padding-left: 10px;
          box-sizing: border-box;
          img{
            margin-top: 10px;
          }
          input{
            width: 80%;
            height: 95%;
            margin-left: 10px;
            border: none;
            outline: none;
          }
        }
        &>img{
          float: right;
        }
        input[type="button"]{
          width: 121px;
          height: 41px;
          background-color: #ffffff;
          border-radius: 2px;
          border: solid 1px #00cc7b;
          float: right;
          color: #00cc7b;
          outline: none;
        }
      }
      input[type="submit"]{
        width: 320px;
        height: 41px;
        background-color: #dddddd;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        outline: none;
      }
      .fsa{
        margin-bottom: 20px;
        span.right{
          float: right;
        }
      }
      a{
        margin-top: 20px;
        display: inline-block;
        width: 32%;
        text-align: center;
      }
    }
    .bottom{
      width: 100%;
      height: 51px;
      background-color: #f8f8f8;
      border-radius: 2px;
      margin-top: 20px;
      line-height: 51px;
      span{
        color: #00cc7b;
        cursor: pointer;
      }
      a{
        color: #00cc7b;
      }
    }
    .imgs{
      width: 91px;
      height: 91px;
      background-color: #c2c2c2;
      border-radius: 50%;
      margin: 40px auto;
      position: relative;
      img{
        width: 100%;
      }
      .shangchuang{
        width: 31px;
        height: 31px;
        background-color: #ffffff;
        background-image: url(../images/37.png);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        position: absolute;
        bottom:10px;right: -15px;
        input{
          width: 100%;
          height: 100%;
          position: absolute;
          @include tlbr;
          opacity: 0;
        }
      }
    }
    .text{
      width: 321px;
      height: 41px;
      background-color: #ffffff;
      border-radius: 2px;
      border: solid 1px #eeeeee;
      display: block;
      margin: 20px auto;
      margin-bottom: 0;
      padding-left: 10px;
      box-sizing: border-box;
    }
    .red{
      font-size: 12px;
      color: #f65d22;
      float: left;
      margin-left: 25px;

    }
    input[type="submit"]{
      width: 320px;
      height: 41px;
      background-color: #dddddd;
      border-radius: 2px;
      font-size: 14px;
      color: #fff;
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;
      outline: none;
    }
  }
}