@charset "utf-8";
@import "base.scss";
body{
  background: #f8f8f8;
}
//----------首页----------------//
//banner
.banner{
  li{
    list-style: none;
  }
  li img{
    display: block;
    margin: 0 auto;
  }
  #wrap{
    width: 80%;
    min-width: 300px;
    margin: 10px auto 80px;
    background: #fefefe;
  }
  pre{
    background: #efefef;
    padding: 10px 20px;
    font-size: 13px;
    font-family: Tahoma, Arial
  }
  .hiSlider{
    overflow: hidden;
    height: 520px;
    width: 100%;
    background: #eee;
  }
  .hiSlider-item{
    float: left;
  }
  .hiSlider-pages{
    right: 48%;
  }
  .hiSlider-pages a{
    width: 17px;
    height: 17px;
    background: transparent;
    border: solid 2px rgba(255, 255, 255, 0.3);
  }
  .hiSlider-pages a.active{
    border: solid 2px #fff;
    background: transparent;
  }
}
//正在直播的老师
.content-box{
  width: 100%;
  height: 124px;
  overflow: hidden;
  background: #fff;
  .box{
    width: 1100px;
    height: 124px;
    margin: 0 auto;
    position: relative;
    #roll{
      width: 200%;
    }
    #roll dd{
      width: 275px;
      height: 124px;
      float: left;
      padding-left: 30px;
      box-sizing: border-box;
    }
    #roll dd.active{
       .img .gif{
         display: block;
       }
      .tiem{
        color: #00cc7b;
        div{
          background: url(../images/13.png)no-repeat;
          background-size: 15px;
          background-position: left center;
        }
      }
    }
    #roll dd .img{
      width: 70px;
      height: 70px;
      background: #eee;
      border-radius: 50%;
      margin-top: 27px;
      position: relative;
      float: left;
      .gif{
        display: none;
        position: absolute;
        top:0;left: 0;right: 0;bottom: 0;
        margin: auto;
        background: rgba(0,0,0,0.5)url(../images/11.gif)no-repeat;
        border-radius: 50%;
        background-position:  center center;
      }
      img{
        width: 100%;
      }
    }
    #roll dd .tiem{
      float: left;
      margin-top: 43px;
      margin-left: 10px;
      font-size: 12px;
      color: #000000;
      line-height: 20px;
      div{
        background: url(../images/12.png)no-repeat;
        background-size: 15px;
        background-position: left center;
        padding-left: 20px;
        box-sizing: border-box;
        span{
          font-size: 20px;
        }
      }
    }
    &>span{
      width: 30px;
      height: 30px;
      background: url(../images/6.png)no-repeat;
      background-size: cover;
      background-position:center center;
      position: absolute;
      top:0;bottom: 0;
      margin: auto;
    }
    span.prev{
      left: -50px;
    }
    span.next{
      background: url(../images/5.png)no-repeat;
      background-size: cover;
      background-position:center center;
      right: -50px;
    }
  }
}
//热门系统班
.hot{
  width: 1200px;
  margin: 20px auto;
  .title{
    font-size: 24px;
    color: #626569;
    line-height: 80px;
    div{
      float: right;
      background: url(../images/14.png)no-repeat;
      background-position: right center;
      background-size: 8px;
      font-size: 14px;
      padding-right: 13px;
      box-sizing: border-box;
      a{
        display: block;
        color: #626569;
      }
    }
  }
  ul{
    width: 100%;
    @include clear;
    &.xianshi{
      li.first{
        background: url(../images/18.png)no-repeat;
        background-size:cover;
        background-position: center center;
      }
    }
    li{
      width: 280px;
      height: 284px;
      float: left;
      background: #fff;
      margin-right: 26px;
      margin-bottom: 26px;
      &:nth-child(4n){
        margin-right: 0;
      }
      &.first{
        padding: 40px 0 0 30px;
        box-sizing: border-box;
        background: url(../images/15.png)no-repeat;
        background-size:cover;
        background-position: center center;
      }
      &>a{
        display: block;
        width: 100%;
        height: 100%;
        img{
          width: 100%;
        }
        .font{
          font-size: 13px;
          color: #626569;
          p{
            margin-left: 20px;
            line-height: 35px;
          }
          img{
            width: 12px;
            margin-left: 20px;
          }
          span{
            color: #00cc7b;
          }
          .font-bottom{
            border-top:1px solid #f6f6f6;
            margin-top: 10px;
            div.img{
              width: 190px;
              float: left;
              line-height: 60px;
              overflow: hidden;
              img{
                width: 32px;
                margin-top: 10px;
                margin-left: 2px;
                &:first-child{
                  margin-left: 20px;
                }
              }
            }
            .span{
              width: 90px;
              text-align: center;
              float: left;
              line-height: 60px;
              font-size: 12px;
              color: #a2a2a2;
            }
          }
        }
      }
      &>p{
        font-size: 28px;
        font-weight: normal;
        color: #fff;
      }
      .border{
        width: 43px;
        height: 6px;
        background-color: #ffffff;
        margin-top: 15px;
      }
      .a{
        margin-top: 20px;
        width: 250px;
        a{
          display: inline-block;
          font-size: 13px;
          color: #fff;
          width: 60px;
          height: 31px;
          line-height: 31px;
          border-radius: 14px;
          border: solid 1px #ffffff;
          margin-right: 8px;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
}
//学员成长故事
.story{
  width: 1200px;
  margin: 0 auto;
  &>p{
    font-size: 24px;
    color: #626569;
    line-height: 80px;
  }
  ul{
    li{
      width: 284px;
      height: 341px;
      background-color: #ffffff;
      padding: 50px 20px;
      box-sizing: border-box;
      text-align: center;
      font-size: 12px;
      color: #626569;
      line-height: 30px;
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 16px;
      h6{
        font-size: 16px;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
      img{
        width: 70px;
        border-radius: 50%;
      }
      p{
        font-size: 14px;
        color: #999999;
        line-height: 20px;
        text-align: left;
        margin-top: 30px;
      }
    }
  }
}
//立即咨询
.zhixun{
  width: 100%;
  height: 251px;
  background-color: #ffffff;
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  color: #999999;
  padding-top: 50px;
  box-sizing: border-box;
  a{
    width: 281px;
    height: 51px;
    background-color: #00cc7b;
    text-align: center;
    line-height: 51px;
    color: #fff;
    font-size: 16px;
    display: block;
    margin: 30px auto;
  }
}
//-----------列表页-----------------//
.sifting{
    width: 1200px;
    margin: 0 auto;
    .title{
      font-size: 14px;
      color: #93979c;
      line-height: 60px;
      a{
        color: #626569;
      }
    }
    ul{
      width: 100%;
      padding: 20px 0;
      box-sizing: border-box;
      background: #fff;
      @include clear;
      li{
        width: 16%;
        border-right: 1px solid #f4f4f4;
        float: left;
        box-sizing: border-box;
        font-size: 14px;
        color: #999999;
        text-align: center;
        line-height: 30px;
        &:last-child{
          border-right: 0;
        }
        a{
          color: #333333;
          display: block;
          &:hover{
            color: #00cc7b;
          }
        }
      }
    }
    .checke{
      margin-top: 20px;
      height: 51px;
      line-height: 51px;
      background-color: #fff;
      a{
        font-size: 14px;
        color: #333333;
        margin-left: 15px;
        &:first-child{
          background-color: #00cc7b;
          border-radius: 3px;
          color: #fff;
          padding: 0 5px;
        }
      }
    }
}
//-----------文章-----------------//
.ceeas{
  width: 100%;
  border-top: 1px solid #f4f4f4;
  padding: 20px 0;
  background: #fff;
  .ceinner{
    width: 1200px;
    margin: 0 auto;
    @include clear;
    .ceinnerleft{
      width: 801px;
      float: left;
      .top{
        width: 100%;
        position: relative;
        img{
          width: 100%;
        }
        .title{
          position: absolute;
          left: 0;bottom:0;right: 0;
          margin: auto;
          width: 795px;
          height: 51px;
          background-color: rgba(0, 0, 0, 0.5);
          text-align: center;
          line-height: 51px;
          color: #fff;
          font-size: 16px;
        }
      }
      .content-box{
        height: 144px;
        margin-top: 10px;
        padding: 0 30px;
        box-sizing: border-box;
      }
      .box{
        width: 100%;
        height: 180px;
        #roll{
          dd{
            width: 236px;
            margin-right: 10px;
            padding-left: 0;
            height: 144px;
            overflow: hidden;
            position: relative;
            a{
              font-size: 12px;
              color: #fff;
            }
            img{
              width: 100%;
            }
            div{
              position: absolute;
              left: 0;right: 0;
              bottom:0;
              background: rgba(0,0,0,0.7);
              height: 41px;
              text-align: center;
              line-height: 41px;
            }
          }
        }
        span{
          width: 30px;
          height: 144px;
          background: url(../images/wen4.png)no-repeat;
          background-size: cover;
          position: absolute;
          top:0;bottom:0;margin: auto;
          margin: 0;
          z-index: 99;
          &.prev{
            left: -30px;
          }
          &.next{
            right: -27px;
            background: url(../images/wen5.png)no-repeat;
            background-size: cover;
          }
        }
      }
      .wenzhang{
        width: 100%;
        margin-top: 30px;
        .wentitle{
          height: 50px;
          border-bottom: 1px solid #a8a8a8;
          font-size: 18px;
          color: #000;
          line-height: 50px;
        }
        ul{
          width: 100%;
          li{
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            box-sizing: border-box;
            &:hover{
              background: #f2f2f2;
            }
            a{
              display: block;
              @include clear;
              line-height: 30px;
              &>img{
                width: 260px;
                display: block;
                float: left;
              }
              .font{
                width: 500px;
                float: right;
                font-size: 14px;
                color: #999999;
                h6{
                  font-size: 18px;
                  color: #000;
                  line-height: 35px;
                }
                p{
                  line-height: 25px;
                }
                div{
                  img{
                    width: 10px;
                    margin-left: 15px;
                    margin-right: 5px;
                    &:first-child{
                      margin-left: 0;
                    }
                  }
                }
              }
            }
          }
        }
        .genduo{
          text-align: center;
          line-height: 50px;
          font-size: 16px;
          color: #00cc7b;
          cursor: pointer;
        }
      }
    }
    .ceinnerright{
      width: 380px;
      height: 100px;
      float: right;
      .righttitle{
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #c7c7c7;
        font-size: 18px;
        color: #000000;
        font-weight: 600;
      }
      ul{
        li{
          width: 100%;
          position: relative;
          padding-left: 20px;
          box-sizing: border-box;
          margin-top: 20px;
          &:after{
            content: "";
            width: 8px;height: 8px;
            background: #00cc7b;
            position: absolute;
            top:10px;left: 0;
            border-radius: 50%;
          }
          a{
            font-size: 14px;
            color: #333333;
            line-height: 30px;
            &:hover{
              color: #00cc7b;
            }
          }
          div{
            img{
              width: 15px;
              margin-right: 8px;
              @include imgs;
            }
            font-size: 12px;
            color: #999999;
            line-height: 30px;
          }
        }
      }
    }
  }
}
//-----------文章详情-----------------//
.ceeasdetails{
  background: #ffffff;
  border-top:1px solid #d6d6d6;
  .cdcontent{
    width: 810px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    h6{
      font-size: 30px;
      color: #000000;
    }
    .titleimg{
      font-size: 12px;
      color: #999999;
      border-bottom: 1px solid #eaeaea;
      height: 50px;
      line-height: 50px;
      img{
        width: 15px;
        @include imgs;
        margin-right: 5px;
        margin-left: 15px;
        &:first-child{
          margin-left: 0;
        }
      }
      div{
        float: right;
        span{
          margin-right: 20px;
          position: relative;
          div{
            display: none;
            width: 275px;
            position: absolute;
            top:-130px;left: -130px;
            margin: auto;
            img{
              width: 100%;
            }
          }
        }
        a{
          margin-right: 20px;
        }
        img{
          width: 23px;

        }
      }
    }
    .inner{
      margin-top: 20px;
      font-size: 14px;
      color: #000;
      line-height: 30px;
      p{
        line-height: 28px;
        margin-top: 15px;
      }
      img{
        width: 100%;
        margin: 20px 0;
      }
    }
    .dinzang{
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
      .zang{
        width: 120px;
        height: 50px;
        background: url(../images/wen13.png)no-repeat;
        background-size: cover;
        margin: 20px auto;
        padding-left: 50px;
        box-sizing: border-box;
        line-height: 50px;
        color: #fff;
        margin-top: 50px;
        cursor: pointer;
      }
    }
    .wentitle{
      height: 50px;
      border-bottom: 1px solid #a8a8a8;
      font-size: 18px;
      color: #000;
      line-height: 50px;
    }
    ul{
      width: 100%;
      li{
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        box-sizing: border-box;
        &:hover{
          background: #f2f2f2;
        }
        a{
          display: block;
          @include clear;
          line-height: 30px;
          &>img{
            width: 260px;
            display: block;
            float: left;
          }
          .font{
            width: 500px;
            float: right;
            font-size: 14px;
            color: #999999;
            h6{
              font-size: 18px;
              color: #000;
              line-height: 35px;
            }
            p{
              line-height: 25px;
            }
            div{
              img{
                width: 10px;
                margin-left: 15px;
                margin-right: 5px;
                &:first-child{
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}









